* {
  box-sizing: border-box;
}


.column {
  float: left;
  padding: 14px;
  height: 1000px;
}

.leftShop {
  width: 75%;
 
}

.rightShop {
  width: 25%;
  background-color:#bbb;
}

.leftProfile {
  width: 60%;
  
}

.rightProfile {
  width: 40%;
  background-color:#bbb;
}

.leftGame {
  
  width: 85%;
}

.rightGame {
  width: 15%;
  background-color:#bbb;
  
}

.leftLogin {
  width: 50%;
  text-align:center;
  background-color:orange;
 
}
.rightLogin {
  width: 50%;
text-align:center;
background-color:grey;
  
}




.row:after {
  content: "";
  display: table;
  clear: both;
}