* {
  box-sizing: border-box;
}


.column {
  float: left;
  padding: 14px;
  height: 900px;
}

.leftShop {
  width: 85%;
    text-align:center;

 
}

.rightShop {
  width: 15%;
    text-align:center;

}

.leftProfile {
  width: 85%;
    text-align:center;

}

.rightProfile {
  width: 15%;
    text-align:center;

}

.leftGame {
  
  width: 85%;
    text-align:center;


}

.rightGame {
  width: 15%;
    text-align:center;


  
  
}

.leftLogin {
  width: 50%;
  text-align:center;
   border-right: 1px solid #EDEDEE; 
  
 
}
.rightLogin {
  width: 50%;

  text-align:center;

  
}




.row:after {
  content: "";
  display: table;
  clear: both;
}