
#nav {
    width: 100%;
    display:inline-block;
    padding: 0;
    list-style: none;
    background-color: transparent;
    
    text-align:center
  }
#nav li {
    display:inline-block;
    text-align:center; }
#nav li a {
    display: block;
    padding: 8px 170px;
    text-decoration: none;
    font-weight: bold;
    text-align:center;
    color: #203B6B;
    border-right: 1px solid grey; 
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    }
#nav li a:hover {
    color: yellow;
    text-align:center;
    background-color: #F99581}


