<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Products</title>
    <link rel="stylesheet" href=../../css/style.css> <link rel="stylesheet"
    href=../../css/cards.css> <link rel="stylesheet"
    href=../../css/dropdown.css>
    <script defer src="../../js/auth.js"></script>
    <script defer src="../../js/init.js"></script>
  </head>

  <body>
    <div class="container">
      <nav id="main_nav">
        <ul>
          <li><a href="#" class="menuitem logout">Log Out</a></li>
          <li><a href="../../Home.html" class="menuitem">Home</a></li>
          <li><a href="../../Profiles.html" class="menuitem">Profiles</a></li>
          <li>
            <a href="../../MyProfile.html" class="menuitem">My Profile</a>
          </li>
          <li>
            <a href="">Filter</a>
            <ul>
              <li>
                <a href="">Type</a>
                <ul>
                  <li>
                    <a href="../Type/FilterGlassBottle.html">Glass Bottle</a>
                  </li>
                  <li>
                    <a href="../Type/FilterPlasticBottle.html"
                      >Plastic Bottle</a
                    >
                  </li>
                  <li>
                    <a href="../Type/FilterAluminiumCan.html">Aluminium Can</a>
                  </li>
                  <li><a href="../Type/FilterFlask.html">Flask</a></li>
                  <li><a href="../Type/FilterJug.html">Jug</a></li>
                  <li><a href="../Type/FilterCask.html">Cask</a></li>
                  <li><a href="../Type/FilterBarrell.html">Barrel</a></li>
                </ul>
              </li>

              <li>
                <a href="">Price</a>
                <ul>
                  <li><a href="../Price/FilterAscending.html">Ascending</a></li>
                  <li>
                    <a href="../Price/FilterDescending.html">Descending</a>
                  </li>
                </ul>
              </li>

              <li>
                <a href="">Utilisation</a>
                <ul>
                  <li>
                    <a href="../Utilisation/FilterFactoryNew.html"
                      >Factory New</a
                    >
                  </li>
                  <li><a href="../Utilisation/FilterNew.html">New</a></li>
                  <li>
                    <a href="../Utilisation/FilterLowUtilisation.html"
                      >Low Utilisation</a
                    >
                  </li>
                  <li>
                    <a href="../Utilisation/FilterHighUtilisation.html"
                      >High Utilisation</a
                    >
                  </li>
                  <li>
                    <a href="../Utilisation/FilterWornOff.html">Worn Off</a>
                  </li>
                  <li>
                    <a href="../Utilisation/FilterUnutilisable.html"
                      >Unutilisable</a
                    >
                  </li>
                </ul>
              </li>

              <li>
                <a href="">Origin</a>
                <ul>
                  <li><a href="./FilterRomania.html">Romania</a></li>
                  <li><a href="./FilterGermany.html">Germany</a></li>
                  <li><a href="./FilterFrance.html">France</a></li>
                </ul>
              </li>

              <li>
                <a href="">Label</a>
                <ul>
                  <li><a href="../Label/FilterLabelPresent.html">Yes</a></li>
                  <li><a href="../Label/FilterLabelAbsent.html">No</a></li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <div id="home">
        <div class="row"></div>
      </div>
    </div>
    <script src="../js/Origin/FilterGermany.js"></script>
  </body>
</html>
