<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href =css/admin.css>

</head>
<body>
<div class="main">
  

    <div class="adminSection">
        <label class="adminLabel">Delete User By ID</label>
        <input class="adminInput" type="text" name="DeleteUserByID",placeholder="User ID">
        <button class="adminButton" type="submit">
            Delete
          </button>
    </div>

    <div class="adminSection">
        <label class="adminLabel">Delete User By EMAIL</label>
        <input class="adminInput" type="text" name="DeleteUserByEmail",placeholder=" User Email">
        <button class="adminButton" type="submit">
            Delete
          </button>
    </div>

    
    <div class="adminSection">
        <label class="adminLabel">Delete User By Name</label>
        <input class="adminInput" type="text" name="DeleteUserByName",placeholder="User Name">
        <button class="adminButton" type="submit">
            Delete
          </button>
    </div>
    <div class="adminSection">
        <label class="adminLabel">Delete Photo by ID</label>
        <input class="adminInput" type="text" name="DeletePhotoByID",placeholder="Photo ID">
        <button class="adminButton" type="submit">
            Delete
          </button>
    </div>

    <div class="adminSection">
        <label class="adminLabel">Change user pass by ID</label>
        <input class="adminInput" type="text" name="ChangePassID",placeholder="User ID">
        <input class="adminInput" type="text" name="ChangePassNewPass",placeholder="New Pass">
        <button class="adminButton" type="submit">
            Change
          </button>
    </div>

    <div class="adminSection">
        <label class="adminLabel">Change user pass by EMAIL</label>
        <input class="adminInput" type="text" name="ChangePassEmail",placeholder="User Email">
        <input class="adminInput" type="text" name="ChangePassNewPass",placeholder="New Pass">
        <button class="adminButton" type="submit">
            Change
          </button>
    </div>

    <div class="adminSection">
        <label class="adminLabel">Change user pass by Name</label>
        <input class="adminInput" type="text" name="ChangePassName",placeholder="User Name">
        <input class="adminInput" type="text" name="ChangePassNewPass",placeholder="New Pass">
        <button class="adminButton" type="submit">
            Change
          </button>
    </div>


</div>

</body>
</html>