<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href =css/admin.css>

</head>
<body>
<div class="main">
  <div class="navbar">
   

    <nav>

        <ul id="MenuItems">
            <li><a href="Home.html" class="menuitem">Home</a></li>
     

        </ul>
    </nav>
   </div>

  <div class="container">

    <div class="adminSection">
        <label class="adminLabel">Delete User By ID</label>
        <input class="adminInput" type="number" name="DeleteUserByID" placeholder="User ID">
        <button class="adminButton" type="submit">
            Delete
          </button>
    </div>

    <div class="adminSection">
        <label class="adminLabel">Delete User By Email</label>
        <input class="adminInput" type="email" name="DeleteUserByEmail" placeholder="User Email">
        <button class="adminButton" type="submit">
            Delete
          </button>
    </div>

    
   
    <div class="adminSection">
        <label class="adminLabel">Delete Photo by ID</label>
        <input class="adminInput" type="number" name="DeletePhotoByID" placeholder="Photo ID">
        <button class="adminButton" type="submit">
            Delete
          </button>
    </div>

    <div class="adminSection">
        <label class="adminLabel">Change user pass by ID</label>
        <input class="adminInput" type="number" name="ChangePassID" placeholder="User ID">
        <input class="adminInput" type="password" name="ChangePassNewPass" placeholder="New Pass">
        <button class="adminButton" type="submit">
            Change
          </button>
    </div>

    <div class="adminSection">
        <label class="adminLabel">Change user pass by Email</label>
        <input class="adminInput" type="email" name="ChangePassEmail" placeholder="User Email">
        <input class="adminInput" type="password" name="ChangePassNewPass" placeholder="New Pass">
        <button class="adminButton" type="submit">
            Change
          </button>
    </div>

    

</div>
</div>

</body>
</html>