<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href=css/smallPage.css>
    <script defer src="js/auth.js"></script>
    <script defer src="js/init.js"></script>
    <title>Title</title>
  </head>
  <body>
    <div class="backDiv">
      <h2 class="text-center"><b>Change Description</b></h2>
      <br /><br />
      <form id="descriptionForm">
        <input
          type="text"
          class="inputLabel"
          id="description"
          name="description"
        />
        <button id="upload" class="btn btn-primary btnSubmit" type="submit">
          Upload
        </button>
      </form>
      <br /><br />
      <button
        onclick="location.href = 'searchProducts.html';"
        class="buttonBack"
      >
        Back
      </button>
    </div>
  </body>
  <script src="js/changeDescription.js"></script>
</html>
