<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" href=css/smallPage.css>
    <script defer src="js/auth.js"></script>
    <script defer src="js/initNoLogout.js"></script>
  </head>
  <body>
    <div class="backDiv">
      <h2 class="text-center"><b>Change Profie Picture</b></h2>
      <br /><br />
      <form id="imageForm">
        <input type="text" class="inputLabel" id="image" name="image" />
        <button
          onclick="location.href = 'changePhoto.html';"
          id="upload"
          class="btn btn-primary btnSubmit"
          type="submit"
        >
          Upload
        </button>
      </form>
      <br /><br />
      <button
        onclick="location.href = 'searchProducts.html';"
        class="buttonBack"
      >
        Back
      </button>
    </div>
    <script src="js/changePhoto.js"></script>
  </body>
</html>
