<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>End Game (Not an Avengers reference) </title>
    <link rel="stylesheet" href=css/style.css>
    <link rel="stylesheet" href=css/end.css>
</head>
<body>
<div class="container">
    <div id="end" class="flex-center flex-column">
        <h1 id="finalScore">0</h1>
        <form class="end-form-container">
            <h2 id="end-text">Enter your name to save your score</h2>
            <input type="text" name="name" id="username" placeholder="Enter your name">
            <button class="btn" id="saveScoreBtn" type="submit" onclick="saveHighScore(event)" disabled>Save</button>
        </form>
        <a href="easyGame.html" class="btn">Play Again</a>
        <a href="/" class="btn">Go home</a>
    </div>
</div>
<script src="JS/end.js"></script>
</body>
</html>