<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href =css/style.css>
</head>
<body>
    <div class="container">
        <div class="container">
            <div class="navbar">
                <nav>
                    <ul id="MenuItems">
                        <li><a href="Home.html" class="btn">Home</a></li>
                        <li><a href="SearchProducts.html" class="btn">Search Items</a></li>
                        <li> <a href="Profiles.html" class="btn">Browse Profiles</a></li>
                        <li><a href="MyProfile.html" id="highscore-btn" class="btn">My Profile</a></li>
                    </ul>
                </nav>
                <img src="photos/menu.png" class="menu-icon" onclick="menutoggle()">
            </div>
        </div>
        <div id="home" >

            <div id="gallery" >

                <div class="card">
                    <img src="img_avatar.png" alt="Avatar" style="width:100%">
                    <div class="container">
                        <h4><b>John Doe</b></h4>
                        <p>Architect & Engineer</p>
                    </div>
                </div>
                <img src="photos/damigeana4.png" alt="">
                <img src="photos/recipient12.png" alt="">
                <img src="photos/cask4.jpg" alt="">
                <img src="photos/cask5.jpg" alt="">
                <img src="photos/cask1.jpg" alt="">
                <img src="photos/damigeana1.jpg" alt="">
                <img src="photos/cask6.jpeg" alt="">
                <img src="photos/recipient5.jpg" alt="">
                <img src="photos/bottle2.jpg" alt="">
                <img src="photos/recipient9.jpg" alt="">
                <img src="photos/bottle3.jpg" alt="">
                <img src="photos/recipient8.jpg" alt="">
                <img src="photos/bottle4.jpg" alt="">
                <img src="photos/damigeana2.jpg" alt="">
                <img src="photos/bottle5.png" alt="">
                <img src="photos/cask3.jpg" alt="">
                <img src="photos/bottle14.jpg" alt="">
                <img src="photos/cask2.jpg" alt="">
                <img src="photos/damigeana3.jpg" alt="">
                <img src="photos/recipient3.jpg" alt="">
                <img src="photos/bottle8.jpg" alt="">
                <img src="photos/damigeana6.jpg" alt="">
                <img src="photos/bottle6.png" alt="">
                <img src="photos/recipient4.jpg" alt="">
                <img src="photos/bottle7.jpg" alt="">
                <img src="photos/recipient2.jpg" alt="">
                <img src="photos/recipient11.jpg" alt="">
                <img src="photos/bottle9.jpg" alt="">
                <img src="photos/recipient6.jpg" alt="">
                <img src="photos/bottle10.jpg" alt="">
                <img src="photos/recipient7.jpg" alt="">
                <img src="photos/bottle11.jpg" alt="">
                <img src="photos/recipient10.jpg" alt="">
                <img src="photos/bottle12.jpg" alt="">
                <img src="photos/damigeana5.jpg" alt="">
                <img src="photos/recipient1.jpg" alt="">
                <img src="photos/bottle1.jpg" alt="">

            </div>
        </div>
    </div>
    <script>
        var MenuItems=document.getElementById("MenuItems");

        MenuItems.style.maxHeight="0px";

        function menutoggle(){
            if(MenuItems.style.maxHeight=="0px"){
                MenuItems.style.maxHeight="200px"
            }else{
                MenuItems.style.maxHeight="0px"
            }
        }
    </script>
</body>
</html>
