<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href =css/style.css>
</head>
<body>
    <div class="container">
        <div id="home" class="flex-column flex-center">

            <a href="MyProfile.html" class="btn">My Profile</a>
            <a href="Profiles.html" class="btn">Profiles</a>
            <a href="SearchProducts.html" class="btn">Search Products</a>
            <a href="ChangeMyProfile.html" id="highscore-btn" class="btn">Change my profile</a>
        </div>
    </div>
</body>
</html>