<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href =css/style.css>
</head>
<body>
    <div class="container">
        <div id="home" >
            <div id="navBar"class="flex-column flex-center" >
                <a href="MyProfile.html" class="btn">My Profile</a>
                <a href="Profiles.html" class="btn">Profiles</a>
                <a href="SearchProducts.html" class="btn">Search Products</a>
                <a href="ChangeMyProfile.html" id="highscore-btn" class="btn">Change my profile</a>
            </div>
            <div id="gallery" >
                <img src="photos/damigeana4.png" alt="">
                <img src="photos/cask1.jpg" alt="">

                <img src="photos/recipient12.png" alt="">

                <img src="photos/cask4.jpg" alt="">
                <img src="photos/cask5.jpg" alt="">
                <img src="photos/damigeana1.jpg" alt="">
                <img src="photos/cask6.jpeg" alt="">
                <img src="photos/bottle1.jpg" alt="">
                <img src="photos/recipient5.jpg" alt="">
                <img src="photos/bottle2.jpg" alt="">
                <img src="photos/recipient9.jpg" alt="">
                <img src="photos/bottle3.jpg" alt="">
                <img src="photos/recipient8.jpg" alt="">
                <img src="photos/bottle4.jpg" alt="">
                <img src="photos/damigeana2.jpg" alt="">
                <img src="photos/bottle5.png" alt="">
                <img src="photos/cask3.jpg" alt="">
                <img src="photos/bottle14.jpg" alt="">
                <img src="photos/cask2.jpg" alt="">
                <img src="photos/damigeana3.jpg" alt="">
                <img src="photos/recipient3.jpg" alt="">
                <img src="photos/bottle8.jpg" alt="">
                <img src="photos/damigeana6.jpg" alt="">
                <img src="photos/bottle6.png" alt="">
                <img src="photos/recipient4.jpg" alt="">
                <img src="photos/bottle7.jpg" alt="">
                <img src="photos/recipient2.jpg" alt="">
                <img src="photos/recipient11.jpg" alt="">
                <img src="photos/bottle9.jpg" alt="">
                <img src="photos/recipient6.jpg" alt="">
                <img src="photos/bottle10.jpg" alt="">
                <img src="photos/recipient7.jpg" alt="">
                <img src="photos/bottle11.jpg" alt="">
                <img src="photos/recipient10.jpg" alt="">
                <img src="photos/bottle12.jpg" alt="">
                <img src="photos/damigeana5.jpg" alt="">
                <img src="photos/recipient1.jpg" alt="">
















            </div>
        </div>
    </div>
</body>
</html>