<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>Login</title>
    <link rel="stylesheet" href="css/login.css">
    <script defer src="js/login.js"></script>
</head>

<body class="login">
    <div class="container">
        <div class="input-groupHead">
        <h2 class="text-center"><b>Login</b></h2>
    </div>
        <br>
        <form action="/home.html" class="loginForm" method="post">
            <div class="input-group">
                <label for="username" class="label"><b>Username</b></label>
                <input type="text" id="username" class="input"><br>
                <span class="error-message"></span>
            </div>
            <br>
            <div class="input-group">
                <label for="password" class="label"><b>Password</b></label>
                <input type="password" id="password" class="password"><br>
                <span class="error-message"></span>
            </div>
            <br>
            <div class="input-groupButton">
            <button class="buttonLogin" type="submit">Login</button>
   
            <button onclick="location.href = 'register.html';" class="buttonLogin" type="button">Register</button>
        
        </div>
        </form>
    </div>

</body>

</html>