<!DOCTYPE html>
<html>
<link rel="stylesheet" href="css/columns.css">
<link rel="stylesheet" href="css/document.css">
<link rel="stylesheet" href="css/login.css">
<head>
<title>Superhero's Quiz</title>
</head>

<body>
<div class="row">
  <div class="column leftLogin" >
  	<div class="loginPadding">
    <form action="Profile.html" method="post">
  <div class="imgcontainer">
    <img src="../photos/avatar.png" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>
</div>
  
</form>
  </div>
  <div class="column rightLogin" >
   <form action="Login.html" method="post">
  <div class="imgcontainer">
    <img src="../photos/register.png" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="uname" required>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <label for="password"><b>Retype password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button type="submit">Register</button>
    
  </div>

  
</form>
  </div>
</div>


</body>

</html>