<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" href=css/smallPage.css>
    <script defer src="js/auth.js"></script>
    <script defer src="js/initNoLogout.js"></script>
  </head>
  <body>
    <div class="backDiv">
      <button
        onclick="location.href = 'searchProducts.html';"
        class="buttonBack"
      >
        Back
      </button>
    </div>
    <script src="js/fetchProductData.js"></script>
  </body>
</html>
