<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Profiles</title>
  <link rel="stylesheet" href =css/style.css>
  <link rel="stylesheet" href =css/cards.css>
  <link rel="stylesheet" href =css/dropdown.css>
  <link rel="stylesheet" href =css/profiles.css>
  <script defer src="js/auth.js"></script>
  <script defer src="js/init.js"></script>
</head>
<body>
<div class="container">
  <nav id="main_nav">
    <ul>
     
     
    
      <li><a href="#" class="menuitem logout">Log Out</a></li>
      <li><a href="Home.html" class="menuitem">Home</a></li>
      <li><a href="Profiles.html" class="menuitem">Profiles</a></li>
      <li><a href="MyProfile.html" class="menuitem">My Profile</a></li>
      <li class="disabled">
        <a href="">Filter</a>
        <ul>
          <li>
          
            <a href="">Type</a>
            <ul>
              <li><a href="">Plastic Bottle</a></li>
              <li><a href="">Glass Bottle</a></li>
              <li><a href="">Plastic Bottle</a></li>
              <li><a href="">Aluminium Can</a></li>
              <li><a href="">Flask</a></li>
              <li><a href="">Jug</a></li>
              <li><a href="">Cask</a></li>
              <li><a href="">Barrel</a></li>
            </ul>
          </li>


          <li>
            <a href="">Price</a>
            <ul>
              <li><a href="">Lower than 10</a></li>
              <li><a href="">Lower than 50</a></li>
              <li><a href="">Lower than 100</a></li>
              <li><a href="">Lower than 500</a></li>
              <li><a href="">Lower than 1000</a></li>
              <li><a href="">Lower than 5000</a></li>
            </ul>
          </li>

          <li>
           
            <a href="">Utilisation</a>
            <ul>
              <li><a href="">Factory New</a></li>
              <li><a href="">New</a></li>
              <li><a href="">Low Utilisation</a></li>
              <li><a href="">High Utilisation</a></li>
              <li><a href="">Worn Off</a></li>
              <li><a href="">Unitilisable</a></li>
            </ul>
          </li>

          <li>
            <a href="">Origin</a>
            <ul>
              <li><a href="">Romania</a></li>
              <li><a href="">Germany</a></li>
              <li><a href="">France</a></li>
            </ul>
          </li>
          
          <li>
            <a href="">Label</a>
            <ul>
              <li><a href="">Yes</a></li>
              <li><a href="">No</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
    


  <div id="home" >
    <div class="row">
      
    </div>
  </div>
</div>

<script src="js/users.js"></script>
</body>
</html>
