
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;

}
nav{
    flex:1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;

}
nav ul li{
    display: inline-block;
    margin-right: 10px;

}
a{
    text-decoration: none;
    color:#555;
}
p{
    color: #555;

}


@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;

    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
    menuitem{
        color: white;
    }
}
.txtsrch{
    flex: 1;

    text-align: left;
    width: 15VW;
    height: 5vh;
    border: 1px ridge saddlebrown;
}
.txtsrch[placeholder]{
    padding-left: 1%;
}
.btnsrch{
    width: 5VW;
    height: 5vh;
    background-color: black ;
    color: white;
    border: 0;

}
.btnsrch:hover{
    color: black;
    background-color: white;
}



