:root {
    background-image: url("bgImage.jpg");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto Light", "Roboto Light", serif;

}


.container {
    margin: auto;
    width: 50%;
    padding: 10px;
    margin-top: 10%;
    background-color: grey;
    width: 300px;
    height: 56vh;
    border-radius: 10%;
}

.input-group {
    text-align: center;
    margin: auto;
    width: 100%;
    padding: 10px;
    height: 110px;
    margin-bottom: 5px;
    border: 1px solid red;
    background-color: black;
    border-radius: 10%;

}

.input-groupButton {
    text-align: center;
    margin: auto;
    width: 100%;
    padding: 10px;
    height: 80px;
    margin-bottom: 5px;


}

h2 {
    font-weight: bolder;
    color: silver;
}

.input-groupHead {
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;

    margin-bottom: 5px;
    border: 2px solid rgb(59, 59, 59);
    background-color: black;
    border-radius: 30%;

}

.buttonLogin {
    background-color: black;
    color: silver;
    font-weight: bold;
    font-size: 14px;
    width: 48%;
    height: 40px;
}

.buttonLogin:hover {
    background-color: rgb(48, 48, 48);
    color: silver;
    font-weight: bolder;
    font-size: 18px;
    width: 48%;
    height: 40px;
}
.buttonLogin:active {
    background-color: rgb(53, 23, 23);
    color: silver;
    font-weight: bolder;
    font-size: 18px;
    width: 48%;
    height: 40px;
}

input[type="text"],
input[type="password"] {
    text-align: center;
    width: 99%;
    height: 30px;
    margin-top: 10px;
    background-color: silver;
    color: black;
}

.label {
    color: silver;
}


.error-message {
    color: red;
}