:root {
  background-image: url("bgImage.jpg");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto Light", "Roboto Light", serif;
}

.buttonBack {
  width: 200px;
  height: 70px;
  font-size: 20px;
  font-weight: bold;
  background-color: black;
  color: silver;
}
.buttonBack:hover {
  width: 200px;
  height: 70px;
  font-size: 26px;
  background-color: grey;
  font-weight: bolder;
  color: black;
}
.buttonBack:active {
  width: 200px;
  height: 70px;
  font-size: 30px;
  font-weight: bolder;
  background-color: rgb(204, 204, 204);
  color: black;
}
.backDiv {
  margin: auto;
  text-align: center;
  width: 50%;
  margin-top: 15%;
  background-color: rgb(190, 190, 190);
  border-radius: 20%;
  padding: 10px;
}

.btnSubmit {
  width: 150px;
  height: 40px;
  font-size: 14px;
  font-weight: bold;
  background-color: black;
  color: silver;
}
.btnSubmit:hover {
  width: 150px;
  height: 40px;
  font-size: 16px;
  background-color: grey;
  font-weight: bolder;
  color: black;
}
.btnSubmit:active {
  width: 150px;
  height: 40px;
  font-size: 18px;
  font-weight: bolder;
  background-color: rgb(204, 204, 204);
  color: black;
}

.inputLabel[type="text"] {
  height: 40px;
  width: 300px;
}
