:root{
    background-image: url("bgImage.jpg");
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto Light", "Roboto Light", serif;

}



.container{
 max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-top:25px;
}


.flex-column{
    display: flex;
    flex-direction: row;

}

.flex-center{
    justify-content: center;
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.text-center{
    text-align: center;

}

.hidden{
    display: none;
}


#gallery {
    margin-left: 4rem;
    margin-right:4rem;
    margin-top: 5rem;
    line-height:0;
    -webkit-column-count:5; /* split it into 5 columns */
    -webkit-column-gap:5px; /* give it a 5px gap between columns */
    -moz-column-count:5;
    -moz-column-gap:5px;
    column-count:5;
    column-gap:5px;
}



