:root{
    background-image: url("bgImage.jpg");
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto Light", "Roboto Light", serif;

}

h1{
    font-size: 5rem;
    color: white;
    margin-bottom: 5rem;
}

h2{
    font-size: 2.5rem;
    color: white;
    margin-bottom: 4rem;
}

.container{
 max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-top:25px;
}


.flex-column{
    display: flex;
    flex-direction: row;

}

.flex-center{
    justify-content: center;
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.text-center{
    text-align: center;

}

.hidden{
    display: none;
}


#gallery {
    margin-left: 4rem;
    margin-right:4rem;
    margin-top: 5rem;
    line-height:0;
    -webkit-column-count:5; /* split it into 5 columns */
    -webkit-column-gap:5px; /* give it a 5px gap between columns */
    -moz-column-count:5;
    -moz-column-gap:5px;
    column-count:5;
    column-gap:5px;
}



.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}
.section1{
    width: 27VW;
    margin-right: 2%;
    margin-left: 5%;
}
.navigation{
    margin-top: 2vh;
    width: 150px;
    height: 5vh;
    background-color: black;
    display: flex;
    align-items: center;
}

.dropdown {
    display: inline-block;
    position: relative;
    color: white;
}
.dropdown-content {
    margin-top: 2px;
    display: none;
    position: absolute;
    width: 150px;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
    padding: 4% 4%;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a {
    display: block;
    height: 5vh;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}
.dropdown-content a:hover {
    color: #FFFFFF;
    background-color: deepskyblue;
}

