:root{
    background-image: url("wood1.jpg");
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 65%;
    font-family: "Roboto Light", "Roboto Light", serif;

}

h1{
    font-size: 5rem;
    color: white;
    margin-bottom: 5rem;
}

h2{
    font-size: 2.5rem;
    color: white;
    margin-bottom: 4rem;
}

.container{
 max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex:1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color:#555;
}
p{
    color: #555;
}
#navBar{
    width:100vw;
    height:30vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 80rem;
    margin: 0 auto;
    padding: 1rem;
}

.flex-column{
    display: flex;
    flex-direction: row;

}

.flex-center{
    justify-content: center;
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.text-center{
    text-align: center;

}

.hidden{
    display: none;
}

.btn{
    font-size: 2.3rem;
    padding: 1.3rem 0;
    width: 30rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: whitesmoke;
    background:  linear-gradient(wheat 0%,saddlebrown  40% );
    opacity: 0.85;


    border-radius: 1rem;
}

.btn:hover{
    cursor: pointer;
    box-shadow:0 0.5rem 1rem 0 grey;
    transition: transform 150ms ;
    transform: scale(1.1);
}

.btn[disabled]:hover{
    cursor:not-allowed;
    box-shadow: none;
    transform: none;
}

#gallery {
    margin-left: 4rem;
    margin-right:4rem;
    margin-top: 5rem;
    line-height:0;
    -webkit-column-count:5; /* split it into 5 columns */
    -webkit-column-gap:5px; /* give it a 5px gap between columns */
    -moz-column-count:5;
    -moz-column-gap:5px;
    column-count:5;
    column-gap:5px;
}



.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}

@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;

        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}
